<div id="header">
  <h1>
    <%= image_tag 'logo.svg', alt:'profile' %>
  </h1>
  <nav>
    <ul>
      <li>About</li>
      <li>Bicycle</li>
    </ul>
  </nav>
</div>

<div id="main">
  <div id="main-visual">
    <%= image_tag 'mainvisual.jpg' %>
  </div>
</div>

<section id="about">
  <h2>About</h2>
  <div>
    <%= image_tag 'about.jpg', alt:'about' %>
    <h3>KAKERU MIYAICHI</h3>
    <a>テキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキスト</a>
  </div>
</section>

<div id="footer"></div>